.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1590px;
  padding: 27px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 10;

  @include vp-1919 {
    padding-top: 22px;
  }

  @include vp-1439 {
    padding-top: 20px;
  }

  @include vp-767 {
    padding-top: 14px;
  }


  &__burger span {
    position: relative;
    width: 50px;
    height: 3px;
    background-color: $color-light;
    border-radius: 1.5px;
    transition: background-color 0.3s ease;

    &::after,
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 1.5px;
      position: absolute;
      left: 0;
      background-color: $color-light;
      transition: background-color 0.3s ease;
    }

    &::after {
      top: 14px;
    }

    &::before {
      bottom: 14px;
    }

    @include vp-1919 {
      width: 38px;
      height: 2.2px;
      border-radius: 1.1px;

      &::after {
        top: 11px;
        border-radius: 1.1px;
      }

      &::before {
        bottom: 11px;
        border-radius: 1.1px;
      }
    }

    @include vp-1439 {
      width: 33px;
      height: 2px;
      border-radius: 1px;

      &::after {
        top: 10px;
        border-radius: 1px;
      }

      &::before {
        bottom: 10px;
        border-radius: 1px;
      }
    }

    @include vp-767 {
      width: 30px;
      height: 1px;
      border-radius: 0.5px;

      &::after {
        top: 9px;
        border-radius: 0.5px;
      }

      &::before {
        bottom: 9px;
        border-radius: 0.5px;
      }
    }
  }

  &__burger:hover span,
  &__burger:focus span,
  &__burger:hover span::after,
  &__burger:focus span::after,
  &__burger:hover span::before,
  &__burger:focus span::before {
    background-color: $color-gold;
  }

  &__phone {
    position: absolute;
    right: 0;
    top: 770px;

    @include vp-1919 {
      right: 124px;
      top: 575px;
    }

    @include vp-1439 {
      right: 108px;
      top: 512px;
    }

    @include vp-767 {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      height: 500px;
      width: 3px;
      border-radius: 1.5px;
      background-color: $color-light;
      transform: translate(-50%, -385px);

      @include vp-1919 {
        left: 50%;
        height: 375px;
        width: 2.2px;
        border-radius: 1.1px;
        transform: translate(-50%, -290px);
      }

      @include vp-1439 {
        left: 50%;
        height: 333px;
        width: 2px;
        border-radius: 1px;
        transform: translate(-50%, -255px);
      }
    }
  }


}


