@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Cormorant Infant";

  font-display: swap;
  src:
    url("../fonts/CormorantInfant-Bold.woff2") format("woff2"),
    url("../fonts/CormorantInfant-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Cormorant Infant";

  font-display: swap;
  src:
    url("../fonts/CormorantInfant-SemiBold.woff2") format("woff2"),
    url("../fonts/CormorantInfant-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Cormorant Infant";

  font-display: swap;
  src:
    url("../fonts/CormorantInfant-Nedium.woff2") format("woff2"),
    url("../fonts/CormorantInfant-Medium.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/Gilroy-Semibold.woff") format("woff");
}
