$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-gray:                        #808080;
$color-light:                       #E3DED8;
$color-dark:                        #232323;
$color-gold:                        #DE933B;

$ff-gilroy:                        "Gilroy", "Arial", sans-serif;
$ff-infant:                        "Cormorant Infant", "Arial", sans-serif;

$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

$retina-dpi:                        192dpi;
$retina-dppx:                       2dppx;
